@font-face {
   font-family: JosefinSlab;
   src: url("../resources/fonts/JosefinSlab-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    font-family: JosefinSlab;
}

body {
    background-color: #f4f4f4;
}

#contentContainer {
    max-width: 680px;
    width:100%;
    margin-left: auto;
    margin-right: auto;
}
