#sideBar {
    color: #FFFFFF;
    position: relative;
    text-align: center;
    z-index: 2;
}

#buttonContainer{
    height:160px;
    width:100%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
}

#buttonContainer div{
    height:80px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#buttonContainer div:hover{
    background-color: #21252d;
}
